@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

@import "tailwindcss";



:root {
  font-family: "Manrope", sans-serif;
  color: #0E1A3D;
  background: #F6F8FC;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  background: #F6F8FC;
}